table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #293a4d;
    color: #fff;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.btn-delete,
.btn-update,
.btn-new {
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
}

.btn-new {
    background-color: #293a4d;
}

.btn-update {
    background-color: #149db0;
}

.btn-delete {
    background-color: #c6171a;
}

.btn-new {
    margin-top: 50px;
}

.btn-delete,
.btn-update{
    margin-right: 5px;
}

.btn-new:hover {
    background-color: rgb(67, 110, 112);
}



