<div class="container">
    <div class="form-container">
        <div class="form-tittle">
           <h2> Create New Employee </h2>
        </div>
        <form [formGroup] = "createEmployeeForm">
            <div class="form-group">
                <label for="firstName"> First Name</label>
                <input type="text" id="firstName" name="firstName" required formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName"> Last Name</label>
                <input type="text" id="lastName" name="lastName" required formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="emailId"> Email</label>
                <input type="email" id="emailId" name="emailId" required formControlName="emailId">
            </div>
            <button class="cancel" type="button" routerLink=""> Cancel </button>
            <button class="submit"type="submit" (click)="createEmployee()"> Save </button>
        </form>

    </div>
</div>